.collection_check_boxes {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 10px 10px;
  width: 120px;
  text-align: center;
  margin: 6px 3px;
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.1);
}
.checkbox-choices {
  text-align:center;
  input {
    display: none;
  }
  input[type="checkbox"]:checked ~ label {
    background-color: white;
    color: #820263;
    border-color: black;
  }
}


// .collection_check_boxes:hover {
//   background-color: #f4f4f4;
//   color: $clubster;
//   border-color: grey;
// }

.collection_check_boxes.active {
  background-color: white;
  color: $clubster;
  border-color: black;
  opacity: 1;
}

.collection_check_boxes p {
  margin: 0 auto;
}



.collection_check_boxes_club {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 10px 10px;
  width: 155px;
  text-align: center;
  margin: 6px 1px;
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.1);
}
.checkbox-choices {
  input {
    display: none;
  }
  input[type="checkbox"]:checked ~ label {
    background-color: white;
    color: $clubster;
    border-color: black;
  }
}


// .collection_check_boxes_club:hover {
//   background-color: #f4f4f4;
//   color: $clubster;
//   border-color: grey;
// }

.collection_check_boxes_club.active {
  background-color: white;
  color: $clubster;
  border-color: black;
}

.collection_check_boxes_club p {
  margin: 0 auto;
}


.checkbox-choices form {
  text-align: center;
}


@media (max-width: 767px) {
  .collection_check_boxes {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 7px 7px;
  width: 100px;
  text-align: center;
  margin: 6px 3px;
}
}


.collection_check_boxes_club {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 10px 2px;
  width: 153px;
  text-align: center;
  margin: 6px 1px;
}



