.tags {
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px 9px;
  color: white;
  // background-color: #606060;
  background-color: $clubster;
  margin: 3px 3px;
  font-size: 16px;
}

.profile_box {
  background-color: white;
  width: 90%;
  margin: 50px auto 50px auto;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


.profile_img {
  vertical-align: middle;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: absolute;
  right: 44%;
  top: -70px;
}

.profile_box p {
  text-align: justify;
  margin: 20px auto 30px auto;
  padding: 0 100px;
}




@media (max-width: 767px) {
  .profile-box p {
    padding: 0 20px;
    text-align: center;
  }
}

// mobile

.profile-mobile {
  background-image: url('/assets/test1.jpg');
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}

.profile-mobile-box {
  padding: 20px 10px;
  background:rgba(255,255,255, 0.9);
  border-radius: 30px;
  // background-color: white;
  // opacity: 0.9;
  text-align: center;
}
