<div class="footer">
  <center><img src="/assets/lobster-pink.png" alt="slothquadrate" border="0"></center>
  <a href="">Terms</a>
  <%= link_to "Privacy", privacy_path  %>
  <a href="">Imprint</a>

  <ul class = "icons-inline">
    <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
    <li><a href="https://www.facebook.com"><i class="fab fa-facebook"></i></i></a></li>
    <li><a href="https://www.youtube.com"><i class="fab fa-youtube"></i></i></a></li>
  </ul>


  <p style="font-size:14px;">© 2019 All Rights Reserved - clubster.io</p>
</div>
