<div class="container">
  <div class="profile_box" style="margin-top:90px;">

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRN1Q1tzZ3Ox2DKXbmKUfA4Gzt4mnyApK9OjT1v9kqfYtNGaKEG" alt="Profile pic" class="profile_img">

  <h1 style="text-align:center; padding-top:80px;">This is you.</h1>
  <div class="row" style="margin:0px 80px; justify-content:center;">
    <% current_user.tag_list.each do |t| %>
    <span class="tags"> <%= t %></span>
    <% end  %>
  </div>
  <p style="font-size: 18px; text-align: center;">Never miss out on your preferred nightlife events ever again!</p>


  <div class="row">

    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <p style="font-size: 16px;"> Your email changed, you want to change your password or unsubscribe? <br></p>
      <p> <%= link_to "Update profile", edit_user_registration_path, { :class=>"button-form" }  %></span></p>
    </div>

    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <p style="font-size: 16px;"> Your taste in music or clubs changed or you want to try something new?</p>
      <p><%= link_to "Update preferences", preferences_path, { :class=>"button-form"} %></p>
    </div>

  </div>

</div>
</div>
