<h1><%= current_user.email %></h1>

<span class="button"><%= link_to "Update profile", edit_user_registration_path %></span>
<span class="button"><%= link_to "Update preferences", preferences_path %></span>
