<div class="banner">
  <img src="/assets/lobster-pink.png" alt="Party Lobster" style="height:120px;"><br>

<span class="typed"></span>

<p> Where can I go dancing tonight? Discover the hottest parties, personalized just for you.</p>
<span class="button"> <%= link_to "Get started", new_user_registration_path %></span>


</div>

<div style="background-color: #ffffff;padding:20px 0;">
  <h2 style="text-align:center; padding:20px 0;">Never miss a single party.<br>We make it easy for you.</h4>
    <div class="row">
      <div class="col-md-4" style="text-align:center;">
        <img src="https://images.ctfassets.net/t9x0u6p47op0/5YvLStiym4yPJe3QerVfS8/c74265dac189de59971046bec9d9e3e1/icon_1_3x.gif" alt="Personalization" style="height:70px; margin: 0 auto;">
        <p>Tell us a little about yourself.<br>We’re good listeners.</p>
      </div>
      <div class="col-md-4" style="text-align:center;">
        <img src="https://images.ctfassets.net/t9x0u6p47op0/6eaQZ8J7TlvBlOP58RQuhb/7694baaa08780586890d089a5f1584c6/icon_2_3x.gif" alt="Recommendation" style="height:70px; margin: 0 auto;">
        <p>Get your personalized<br>event recommendation.</p>
      </div>
      <div class="col-md-4" style="text-align:center;">
        <img src="https://images.ctfassets.net/t9x0u6p47op0/6wjhOg2n0StKCr70hysSF8/00dd024e31413f77abda093e3fa9bf82/icon_3_3x.gif" alt="Party" style="height:70px;">
        <p>Update your profile anytime.<br>And keep the party going.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <h2 style="text-align:center; padding:20px 0;">Let's make it happen.</h4>
    <p>Once you've signed up, you will get all events directly on your phone every week. For free. Sounds awesome? Then sign up.</p>
    <span class="button"> <%= link_to "Get started", new_user_registration_path %></span>
  </div>
