<div class="container-fluid" >
  <div class="home">
  <img src="/assets/lobster-pink.png" alt="Party Lobster" style="height:155px; padding-top:30px; padding-bottom:10px;"><br>
  <span class="typed">&nbsp;</span>
  <p style="padding:15px 0px;">Tell us about your music taste. And we'll sent you the best events. Directly to your phone. </p>
  <%= link_to "Get the party started", new_user_registration_path, { :class =>"button" } %> <br><br><br>
</div>
</div>



  <!-- for screens smaller sm -->

  <div class="carousel d-md-none">
    <h2 style="text-align:center; padding:35px 0 20px 0;">Never miss a single party</h2>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-12">
                <center> <img src="https://images.ctfassets.net/t9x0u6p47op0/5YvLStiym4yPJe3QerVfS8/c74265dac189de59971046bec9d9e3e1/icon_1_3x.gif" alt="Personalization" style="height:120px; margin: 0 auto; padding-bottom:20px;"></center>
              </div>
              <div class="carousel-text col-12">
                <p>Tell us about your music taste and your&nbsp;favorite&nbsp;clubs.</p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row">
              <div class="col-12">
                <center> <img src="https://images.ctfassets.net/t9x0u6p47op0/6eaQZ8J7TlvBlOP58RQuhb/7694baaa08780586890d089a5f1584c6/icon_2_3x.gif" alt="Recommendation" style="height:120px; margin: 0 auto; padding-bottom:20px;"></center>
              </div>
              <div class="carousel-text col-12">
                <p>Get your personalized<br>event recommendation per Whatsapp.</p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row">
              <div class="col-12">
                <center> <img src="https://images.ctfassets.net/t9x0u6p47op0/6wjhOg2n0StKCr70hysSF8/00dd024e31413f77abda093e3fa9bf82/icon_3_3x.gif" alt="Party" style="height:120px; margin: 0 auto; padding-bottom:20px;"></center>
              </div>
              <div class="carousel-text col-12">
                <p>Update your profile anytime.<br>And keep the party going.</p>
              </div>
            </div>
          </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </div>

<!--
  <div class="d-md-none">
    <div class="container" style="text-align:center;">
      <h2 style="text-align:center; padding:20px 0 0 0; margin:0;">We make it easy for you.</h4>
        <img src="/assets/clubster-cut.gif" style="width: 90%" alt="Whatsapp messages">
        <p>Once you've signed up, you will get all events directly on your phone every week. For free. Sounds awesome?</p>
        <%#= link_to "Sign up", new_user_registration_path, { :class=>"button"} %>
    </div>
  </div>
 -->

  <div class="container-fluid d-md-none">
    <img src="/assets/clubster-left.gif" style="width: 80%" alt="Whatsapp messages">
    <div class="home" style="text-align:center;">
      <h2 style="text-align:center; margin:0;">We make it easy for you</h2>

        <p>Once signed up, you'll get weekly events directly to your phone. For free. Sounds awesome?</p>
        <%= link_to "Sign up now", new_user_registration_path, { :class=>"button"} %>
    </div>
  </div>



<!-- For screens bigger md -->

<div class="d-none d-md-block" style="background-color: #ffffff;padding:20px 0;">
  <h2 style="text-align:center; padding-bottom:10px;">Never miss a single party</h4>
    <div class="row">
      <div class="col-md-4" style="text-align:center;">
        <img src="https://images.ctfassets.net/t9x0u6p47op0/5YvLStiym4yPJe3QerVfS8/c74265dac189de59971046bec9d9e3e1/icon_1_3x.gif" alt="Personalization" style="height:70px; margin: 0 auto;">
        <p>Tell us about your music taste and your&nbsp;favorite&nbsp;clubs.</p>
      </div>
      <div class="col-md-4" style="text-align:center;">
        <img src="https://images.ctfassets.net/t9x0u6p47op0/6eaQZ8J7TlvBlOP58RQuhb/7694baaa08780586890d089a5f1584c6/icon_2_3x.gif" alt="Recommendation" style="height:70px; margin: 0 auto;">
        <p>Get your personalized<br>event recommendation per Whatsapp.</p>
      </div>
      <div class="col-md-4" style="text-align:center;">
        <img src="https://images.ctfassets.net/t9x0u6p47op0/6wjhOg2n0StKCr70hysSF8/00dd024e31413f77abda093e3fa9bf82/icon_3_3x.gif" alt="Party" style="height:70px;">
        <p>Update your profile anytime.<br>And keep the party going.</p>
      </div>
    </div>
  </div>

<div class="d-none d-md-block">
  <div class="container" style="text-align:center;">
    <div class="row">
      <div class="col-5">
        <img src="/assets/clubster-cut.gif" style="width: 100%" alt="Whatsapp messages">
      </div>
      <div class="col-7" style="padding-right:180px;">
        <h2 style="padding:70px 0 0 0; margin:0;">We make it easy for you</h2><br>
        <p>Once signed up, you'll get weekly events directly to your phone. For free. Sounds awesome?</p><br>
        <%= link_to "Sign up now", new_user_registration_path, { :class=>"button"} %>
      </div>
    </div>
  </div>
</div>
