<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 text-center">
      <h3>What kind of music are you listening to?</h3>
      <%#= render 'preferences/genres' %>
      <%= form_for current_user do |f| %>
      <%= f.collection_check_boxes :tag_list, User::GENRES, :to_s, :to_s %>
      <span class="button"><%= f.submit %></span>
      <% end %>

    </div>
  </div>
</div>

<!--   <span class="button"><%#= link_to "Next", root_path %></span> -->
