<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="margin: 50px 0 0 0;">
      <img src="/assets/video.png" alt="Clubbing">
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="margin: 50px 0 0 0;">
      <h1>Only one click away from your perfect night out.</h1>

      <p>Congrats. You're almost done. All there is left to do, is for you to click on the button and send us a "START" message. Then some magic happens and you will receive a message from us with the best events. Just for you. And that's it for now. If you want to change your music preferences or profile you can do so anytime. </p>

      <span class="button-form"><a href="https://api.whatsapp.com/send?phone=4917676867398&text=START&source=&data=">Get your events</a></span>
    </div>
  </div>
</div>
