.button {
  color: white;
  background-color: $clubster;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.2s;
  padding: 12px 25px;
  border-radius: 24px;
}


.button:hover {
  background-color: white;
  color: white;
  border: 2px solid $button-hover;
}

a.button {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

a.button:hover {
  color: black;
  text-decoration:none;
}


.button-form {
  margin-top: 10px;
  color: white;
  background-color: $clubster;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.1s;
  padding: 10px 25px;
  border-radius: 24px;
  min-width: 120px;

}


.button-form:hover {
  background-color: $button-hover;
  color: white;
}

a.button-form {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.button-form a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

input.button-form {
  font-size: 16px;
}


input.btn {
  color: white;
}

input.btn:hover {
  color: white;
}

.button-border {
  background-color: white;
  color: black;
  border: 2px solid $clubster;
  padding: 8px 25px;
  border-radius: 24px;
}

a.button-border {
  text-decoration: none;
}

a.button-border:hover {
  text-decoration: underline;
}
